body {
background-image:url(background/test_bis.png);
background-size: cover;
max-width: 200px;
height: 200px;
display: block;
text-align: center;
align-content: center;
align-items: center;
margin: 8px;
}

.bloc_background{
	text-align: center;
	background-color: pink;
	align-items: center;
	padding: 10px;
    margin-top: 20px;
    border-radius: 100px;
    margin: 30px;
}
