
body {
	background-image:url("image/test_bis.png");
	text-align: center;
}

.bloc_background{
	text-align: center;
	background-color: pink;
	align-items: center;
	padding: 30px;
    margin-top: 20px;
    border-radius: 100px;
    margin: 70px;
}

.bloc_content{
	text-align: center;
	align-items: center;
	padding: 10px;
  	margin-top: 20px;
	border-radius: 100px;
	margin: 30px;
}

.nav_bar{
	background-color: pink;
}
